@media (min-width: 640px) {
    .sm-100{
        width: 100% !important;
    }
    .sm-75{
        width: 75% !important;
    }
    .sm-66{
        width: 66.66% !important;
    }
    .sm-50{
        width: 50% !important;
    }
    .sm-33{
        width: 33.3% !important;
    }
    .sm-25{
        width: 25% !important;
    }
    .sm-20{
        width: 20% !important;
    }
    .sm-16{
        width: 16% !important;
    }

    

}
@media (min-width: 768px) { 
    .md-100{
        width: 100% !important;
    }
    .md-80{
        width: 80% !important;
    }
    .md-75{
        width: 75% !important;
    }
    .md-66{
        width: 66.66% !important;
    }
    .md-50{
        width: 50% !important;
    }
    .md-33{
        width: 33.3% !important;
    }
    .md-25{
        width: 25% !important;
    }
    .md-20{
        width: 20% !important;
    }
    .md-16{
        width: 16% !important;
    }
    
}

@media (min-width: 1024px) { 
    .lg-100{
        width: 100% !important;
    }
    .lg-80{
        width: 80% !important;
    }
    .lg-75{
        width: 75% !important;
    }
    .lg-66{
        width: 66.66% !important;
    }
    .lg-50{
        width: 50% !important;
    }
    .lg-33{
        width: 33.3% !important;
    }
    .lg-25{
        width: 25% !important;
    }
    .lg-20{
        width: 20% !important;
    }
    .lg-16{
        width: 16% !important;
    }
}

@media (min-width: 1280px) { 
    
    .xl-100{
        width: 100% !important;
    }
    .xl-75{
        width: 75% !important;
    }
    .xl-66{
        width: 66.66% !important;
    }
    .xl-50{
        width: 50% !important;
    }
    .xl-33{
        width: 33.3% !important;
    }
    .xl-25{
        width: 25% !important;
    }
    .xl-20{
        width: 20% !important;
    }
    .xl-16{
        width: 16% !important;
    }
}

@media (min-width: 1536px) { 
    .xxl-100{
        width: 100% !important;
    }
    .xxl-75{
        width: 75% !important;
    }
    .xxl-66{
        width: 66.66% !important;
    }
    .xxl-50{
        width: 50% !important;
    }
    .xxl-33{
        width: 33.3% !important;
    }
    .xxl-25{
        width: 25% !important;
    }
    .xxl-20{
        width: 20% !important;
    }
    .xxl-16{
        width: 16% !important;
    }
}
[class*="sm-"],[class*="md-"],[class*="lg-"],[class*="xl-"],[class*="xxl-"] {
    float: left;
    padding: 15px;
}

.content:after {
    content: "";
    clear: both;
    display: table;
}